listen_port = 8125;
log_level = 0;
downstream_flush_interval = 1.0;

downstreams = (
  {
    name = "host0";
    host = "localhost";
    sink_port = 8126;
    healthcheck_port = 8127;
  },{
    name = "host2";
    host = "example.com";
    sink_port = 8125;
    healthcheck_port = 0;
  }
);
